@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #a93134;
}

header{
    background-color: #4a444d;
    color: white;
    text-align: center;
}

img{
    border: #a93134 0.8rem solid;
    padding: 0.3rem;
    border-radius: 50%;
    margin-top: 1rem;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.bk{
    border: #4a444d 0.5rem solid;
    padding: 0.3rem;
    border-radius: 20%;
    margin-top: 1rem;
}

.ep1{
    font-weight: 600;
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: 2rem;
}

.cargo1{
    font-style: italic;
    margin: 0.2rem 0 0.5rem 1rem;
    flex-wrap: wrap;
}

h3{
    background-color: #a93134;
    margin: 0.4rem 37% 1rem 37%;
    padding: 0.2rem;
    border-radius: 0.5rem;
}

section{
    margin: 1rem;
}

h2{
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    color:#a93134;
}
main{
    margin: 0.4rem;
    border-radius: 1rem;
    background-color: #3a1016;
    color: white;
    text-align: center;
}

a{
    font-weight: 600;
    color: #a93134;
    text-decoration: none;
    background-color: white;
    margin: 0 0.4rem 0 0.4rem ;
    padding: 0.3rem;
    border-radius: 0.3rem; 
}

footer{
    background-color: #181418;
    color: white;
    padding: 0.6rem;
    text-align: center;

}
